---
import Layout from '../../layouts/Layout.astro'
import works from 'src/data/works.json'
const work = works.find((work) => work.title === 'Moody Movie')
import { Image } from 'astro:assets'
import imgWireframe from 'src/assets/img/moody-movie-wireframe-large.webp'
import imgDesignSystem from 'src/assets/img/moody-movie-design-system-large.jpg'
---

<Layout title={`Ruben UX/UI - ${work?.slug}`}>
	<main class='wrapper'>
		<section class='hero-project'>
			<h1>{work?.title.toUpperCase()}</h1>
			<h2>{work?.description}</h2>
			<img class='cover-img' src='/img/moody-movie-cover.webp' alt={work?.cover_alt} />
		</section>
		<section class='content'>
			<div>
				<h3>✍️ The challenge: Design an App</h3>
				<p>
					The aim of this project was to design an app that matches your mood with a movie. The app should have all the
					flows prototyped as well as all the animations and micro-interactions.
				</p>
			</div>
			<div>
				<h3>🏗 Wireframes</h3>
				<p>
					Instead of wasting time being lost designing in Figma I made some simple drawings of how might be the app
					(welcome, home, profile, movie view...). This helped me to improve the decision making because I could start
					sharing the design and receive feedback faster.
				</p>
				<Image src={imgWireframe} alt='Handmade wireframes of Moody Movie' />
			</div>
			<div>
				<h3>🗂 Design System</h3>
				<p>
					Usually an app solves a problem or maybe more than one. In this case I'm solving one, but maybe in the future,
					I will add more features in order to solve more problems. Plus, maybe I'm not the designer who will design
					this new feature. In order to have consistency in all the digital product we must group all the design
					decisions into a design system. Usually are based on atomic design (atoms, molecules, organisms...), this one
					is not an exception.
				</p>
				<Image src={imgDesignSystem} alt='Design system of Moody Movie' />
			</div>
			<div>
				<h3>📱 Prototype: UI Interactions</h3>
				<p>
					Prototype is a good tool for testing and communicate with the team. Approaching as close to reality as
					possible with a prototype can avoid future misunderstandings with developers and other members of the team.
					Another important value of designing high fidelity mockups is testing them with real users and save time
					instead of coding all the app.
				</p>
				<iframe
					class='figma-proto'
					width='100%'
					height='704'
					src='https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FSR7LaqdnAjkv3mlYIy15sP%2FBAU-Experience-Design---Rub%25C3%25A9n-Castillo%3Fpage-id%3D655%253A2104%26node-id%3D879%253A2477%26viewport%3D328%252C48%252C0.08%26scaling%3Dscale-down%26starting-point-node-id%3D879%253A2477%26hide-ui%3D1'
					allowfullscreen></iframe>
				<a
					class='secondary-button desktop-hide'
					href='https://www.figma.com/proto/SR7LaqdnAjkv3mlYIy15sP/BAU-Experience-Design---Rub%C3%A9n-Castillo?page-id=655%3A2104&node-id=879%3A2477&viewport=328%2C48%2C0.08&scaling=scale-down&starting-point-node-id=879%3A2477'
					target='_blank'>Go to prototype 📱</a
				>
			</div>
		</section>
	</main>

	<style>
		main {
			min-height: 100dvh;
			padding-block: 3rem;
		}
		.cover-img {
			width: 100%;
			object-fit: cover;
		}
		img {
			width: 100%;
			object-fit: contain;
			height: auto;
		}
		h2 {
			margin-block: 1rem;
		}
		.hero-project {
			margin-bottom: 4rem;
		}
		.content > * {
			margin-bottom: 2rem;
		}
		.figma-proto {
			display: none;
			border: 1px solid var(--neutral-950);
		}
		p {
			margin-block: 1rem;
		}
		@media (width >= 768px) {
			.figma-proto {
				display: block;
			}
			a {
				display: none;
			}
		}
	</style>
</Layout>
